//Animation Mixin Import
@import "animations/animation_mixins";

// ITEMS

.item-goat1 {
	@include animation(bounce-slow 4s linear infinite);
	width: 1%;
	margin-left: 18%;
	margin-bottom: 15%;
}	

.item-goat2 {
	@include animation(wiggle 2s linear infinite);
	width: 1.2%;
	margin-right: 39.5%;
	margin-bottom: 13.5%;
	right: 0;
}	

.item-cloud1 {
	@include animation(fade-in-out-slide-left-right 8s linear infinite);
	width: 8%;
	margin-left: 5%;
	margin-bottom: 30%;
}	

.item-cloud2 {
	@include animation(fade-in-out-slide-right-left 12s linear infinite);
	width: 5%;
	margin-right: 5%;
	margin-bottom: 45%;	
	right: 0;
}	

.item-cloud3 {
	@include animation(fade-in-out-slide-left-right 10s linear infinite);
	@include delay(3s);
	opacity: 0;
	width: 4%;
	margin-left: 15%;
	margin-bottom: 50%;
}	

.item-bonfire {
	width: 2%;
	margin-right: 20%;
	margin-bottom: 4%;
	right: 0;	
}	

.item-flame {
	@include animation(fade-in-out 4s linear 0.25s infinite);
	width: 2%;
	margin-right: 20%;
	margin-bottom: 4.5%;
	right: 0;	
}	

.item-tent {
	@include animation(bounce-slow 3s linear infinite);
	width: 5%;
	margin-right: 14%;
	margin-bottom: 3%;
	right: 0;	
}	