//Animation Mixin Import
@import "animations/animation_mixins";

// ITEMS

.item-goat1 {
	@include animation(bounce-slow 4s linear infinite);
	width: 2%;
	margin-left: 18.2%;
	margin-bottom: 23%;
}	

.item-goat2 {
	@include animation(wiggle 2s linear infinite);
	width: 1.5%;
	margin-right: 20%;
	margin-bottom: 23%;
	right: 0;
}	

.item-cloud1 {
	@include animation(fade-in-out-slide-left-right 8s linear infinite);
	width: 10%;
	margin-left: 5%;
	margin-bottom: 30%;
}	

.item-cloud2 {
	@include animation(fade-in-out-slide-right-left 12s linear infinite);
	width: 8%;
	margin-right: 5%;
	margin-bottom: 45%;	
	right: 0;
}	

.item-cloud3 {
	@include animation(fade-in-out-slide-left-right 10s linear infinite);
	@include delay(3s);
	opacity: 0;
	width: 12%;
	margin-left: 15%;
	margin-bottom: 50%;
}	

.item-bonfire {
	width: 3%;
	margin-right: 16%;
	margin-bottom: 8%;
	right: 0;	
}	

.item-flame {
	@include animation(fade-in-out 4s linear 0.25s infinite);
	width: 3%;
	margin-right: 16%;
	margin-bottom: 8.5%;
	right: 0;	
}	

.item-tent {
	@include animation(bounce-slow 3s linear infinite);
	@include delay(1s);
	width: 10%;
	margin-right: 5%;
	margin-bottom: 7%;
	right: 0;	
}	

.item-sun {
	@include animation(floating 7s linear infinite);
	width: 10%;
	margin-left: 20%;
	margin-bottom: 12%;
	z-index: -2;
}		