@-webkit-keyframes rotating {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -ms-animation-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes rotating {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -ms-animation-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes rotating {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -ms-animation-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes rotating {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -ms-animation-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    opacity: 1;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    opacity: 1;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    opacity: 1;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    opacity: 1;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes grow-shrink {
  0% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes grow-shrink {
  0% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes grow-shrink {
  0% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes grow-shrink {
  0% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    -ms-animation-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes floating {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -ms-animation-transform: translate(0, 25px);
    transform: translate(0, 25px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes floating {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -ms-animation-transform: translate(0, 25px);
    transform: translate(0, 25px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes floating {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -ms-animation-transform: translate(0, 25px);
    transform: translate(0, 25px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes floating {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -ms-animation-transform: translate(0, 25px);
    transform: translate(0, 25px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes floating-subtle {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-animation-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes floating-subtle {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-animation-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes floating-subtle {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-animation-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes floating-subtle {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  50% {
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-animation-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes spinning {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-animation-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-animation-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spinning {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-animation-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-animation-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes spinning {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-animation-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-animation-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinning {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-animation-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-animation-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes float-up {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, -190px);
    -webkit-transform: translate(0, -190px);
    -ms-animation-transform: translate(0, -190px);
    transform: translate(0, -190px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes float-up {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, -190px);
    -webkit-transform: translate(0, -190px);
    -ms-animation-transform: translate(0, -190px);
    transform: translate(0, -190px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes float-up {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, -190px);
    -webkit-transform: translate(0, -190px);
    -ms-animation-transform: translate(0, -190px);
    transform: translate(0, -190px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes float-up {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, -190px);
    -webkit-transform: translate(0, -190px);
    -ms-animation-transform: translate(0, -190px);
    transform: translate(0, -190px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes grow {
  0% {
    -ms-transform: scale(0.15, 0.15);
    -webkit-transform: scale(0.15, 0.15);
    -ms-animation-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  70% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes grow {
  0% {
    -ms-transform: scale(0.15, 0.15);
    -webkit-transform: scale(0.15, 0.15);
    -ms-animation-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  70% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes grow {
  0% {
    -ms-transform: scale(0.15, 0.15);
    -webkit-transform: scale(0.15, 0.15);
    -ms-animation-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  70% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes grow {
  0% {
    -ms-transform: scale(0.15, 0.15);
    -webkit-transform: scale(0.15, 0.15);
    -ms-animation-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  70% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes fade-in-out {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes fade-in-out {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fade-in-out {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes appear-3sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  78% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  80% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes appear-3sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  78% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  80% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-ms-keyframes appear-3sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  78% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  80% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes appear-3sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  78% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  80% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes appear-5sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  85% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  87% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes appear-5sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  85% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  87% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-ms-keyframes appear-5sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  85% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  87% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes appear-5sec-delay {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  85% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -ms-animation-transform: scale(0, 0);
    transform: scale(0, 0); }
  87% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-animation-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes wiggle {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    transition: ease-in; }
  5% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  10% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  15% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  20% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  25% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  33% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes wiggle {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    transition: ease-in; }
  5% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  10% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  15% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  20% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  25% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  33% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    transition: ease-in; }
  5% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  10% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  15% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  20% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  25% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  33% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes wiggle {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    transition: ease-in; }
  5% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  10% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  15% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  20% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-animation-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  25% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-animation-transform: rotate(5deg);
    transform: rotate(5deg); }
  33% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-animation-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes bounce-slow {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  6.25% {
    -ms-transform: translate(0, -7px);
    -webkit-transform: translate(0, -7px);
    -ms-animation-transform: translate(0, -7px);
    transform: translate(0, -7px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  12.5% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-moz-keyframes bounce-slow {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  6.25% {
    -ms-transform: translate(0, -7px);
    -webkit-transform: translate(0, -7px);
    -ms-animation-transform: translate(0, -7px);
    transform: translate(0, -7px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  12.5% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-ms-keyframes bounce-slow {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  6.25% {
    -ms-transform: translate(0, -7px);
    -webkit-transform: translate(0, -7px);
    -ms-animation-transform: translate(0, -7px);
    transform: translate(0, -7px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  12.5% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@keyframes bounce-slow {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  6.25% {
    -ms-transform: translate(0, -7px);
    -webkit-transform: translate(0, -7px);
    -ms-animation-transform: translate(0, -7px);
    transform: translate(0, -7px);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  12.5% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-animation-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    transition: ease-in-out; } }
@-webkit-keyframes fade-in-out-slide-right-left {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-animation-transform: translateX(0);
    transform: translateX(0);
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    -ms-transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -ms-animation-transform: translateX(-350px);
    transform: translateX(-350px);
    opacity: 0; } }
@-moz-keyframes fade-in-out-slide-right-left {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-animation-transform: translateX(0);
    transform: translateX(0);
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    -ms-transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -ms-animation-transform: translateX(-350px);
    transform: translateX(-350px);
    opacity: 0; } }
@-ms-keyframes fade-in-out-slide-right-left {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-animation-transform: translateX(0);
    transform: translateX(0);
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    -ms-transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -ms-animation-transform: translateX(-350px);
    transform: translateX(-350px);
    opacity: 0; } }
@keyframes fade-in-out-slide-right-left {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-animation-transform: translateX(0);
    transform: translateX(0);
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    -ms-transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -ms-animation-transform: translateX(-350px);
    transform: translateX(-350px);
    opacity: 0; } }
@-webkit-keyframes fade-in-out-slide-left-right {
  0% {
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-animation-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -ms-animation-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; } }
@-moz-keyframes fade-in-out-slide-left-right {
  0% {
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-animation-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -ms-animation-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; } }
@-ms-keyframes fade-in-out-slide-left-right {
  0% {
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-animation-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -ms-animation-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; } }
@keyframes fade-in-out-slide-left-right {
  0% {
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-animation-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -ms-animation-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; } }
@-webkit-keyframes arc-left-right {
  0% {
    -ms-transform: translate(-70px, 0) rotate(5deg);
    -webkit-transform: translate(-70px, 0) rotate(5deg);
    -ms-animation-transform: translate(-70px, 0) rotate(5deg);
    transform: translate(-70px, 0) rotate(5deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translate(70px, 0px) rotate(20deg);
    -webkit-transform: translate(70px, 0px) rotate(20deg);
    -ms-animation-transform: translate(70px, 0px) rotate(20deg);
    transform: translate(70px, 0px) rotate(20deg);
    opacity: 0; } }
@-moz-keyframes arc-left-right {
  0% {
    -ms-transform: translate(-70px, 0) rotate(5deg);
    -webkit-transform: translate(-70px, 0) rotate(5deg);
    -ms-animation-transform: translate(-70px, 0) rotate(5deg);
    transform: translate(-70px, 0) rotate(5deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translate(70px, 0px) rotate(20deg);
    -webkit-transform: translate(70px, 0px) rotate(20deg);
    -ms-animation-transform: translate(70px, 0px) rotate(20deg);
    transform: translate(70px, 0px) rotate(20deg);
    opacity: 0; } }
@-ms-keyframes arc-left-right {
  0% {
    -ms-transform: translate(-70px, 0) rotate(5deg);
    -webkit-transform: translate(-70px, 0) rotate(5deg);
    -ms-animation-transform: translate(-70px, 0) rotate(5deg);
    transform: translate(-70px, 0) rotate(5deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translate(70px, 0px) rotate(20deg);
    -webkit-transform: translate(70px, 0px) rotate(20deg);
    -ms-animation-transform: translate(70px, 0px) rotate(20deg);
    transform: translate(70px, 0px) rotate(20deg);
    opacity: 0; } }
@keyframes arc-left-right {
  0% {
    -ms-transform: translate(-70px, 0) rotate(5deg);
    -webkit-transform: translate(-70px, 0) rotate(5deg);
    -ms-animation-transform: translate(-70px, 0) rotate(5deg);
    transform: translate(-70px, 0) rotate(5deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -ms-transform: translate(70px, 0px) rotate(20deg);
    -webkit-transform: translate(70px, 0px) rotate(20deg);
    -ms-animation-transform: translate(70px, 0px) rotate(20deg);
    transform: translate(70px, 0px) rotate(20deg);
    opacity: 0; } }
.item-goat1 {
  -webkit-animation: bounce-slow 4s linear infinite;
  -moz-animation: bounce-slow 4s linear infinite;
  -ms-animation: bounce-slow 4s linear infinite;
  animation: bounce-slow 4s linear infinite;
  width: 1%;
  margin-left: 18%;
  margin-bottom: 15%; }

.item-goat2 {
  -webkit-animation: wiggle 2s linear infinite;
  -moz-animation: wiggle 2s linear infinite;
  -ms-animation: wiggle 2s linear infinite;
  animation: wiggle 2s linear infinite;
  width: 1.2%;
  margin-right: 39.5%;
  margin-bottom: 13.5%;
  right: 0; }

.item-cloud1 {
  -webkit-animation: fade-in-out-slide-left-right 8s linear infinite;
  -moz-animation: fade-in-out-slide-left-right 8s linear infinite;
  -ms-animation: fade-in-out-slide-left-right 8s linear infinite;
  animation: fade-in-out-slide-left-right 8s linear infinite;
  width: 8%;
  margin-left: 5%;
  margin-bottom: 30%; }

.item-cloud2 {
  -webkit-animation: fade-in-out-slide-right-left 12s linear infinite;
  -moz-animation: fade-in-out-slide-right-left 12s linear infinite;
  -ms-animation: fade-in-out-slide-right-left 12s linear infinite;
  animation: fade-in-out-slide-right-left 12s linear infinite;
  width: 5%;
  margin-right: 5%;
  margin-bottom: 45%;
  right: 0; }

.item-cloud3 {
  -webkit-animation: fade-in-out-slide-left-right 10s linear infinite;
  -moz-animation: fade-in-out-slide-left-right 10s linear infinite;
  -ms-animation: fade-in-out-slide-left-right 10s linear infinite;
  animation: fade-in-out-slide-left-right 10s linear infinite;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  opacity: 0;
  width: 4%;
  margin-left: 15%;
  margin-bottom: 50%; }

.item-bonfire {
  width: 2%;
  margin-right: 20%;
  margin-bottom: 4%;
  right: 0; }

.item-flame {
  -webkit-animation: fade-in-out 4s linear 0.25s infinite;
  -moz-animation: fade-in-out 4s linear 0.25s infinite;
  -ms-animation: fade-in-out 4s linear 0.25s infinite;
  animation: fade-in-out 4s linear 0.25s infinite;
  width: 2%;
  margin-right: 20%;
  margin-bottom: 4.5%;
  right: 0; }

.item-tent {
  -webkit-animation: bounce-slow 3s linear infinite;
  -moz-animation: bounce-slow 3s linear infinite;
  -ms-animation: bounce-slow 3s linear infinite;
  animation: bounce-slow 3s linear infinite;
  width: 5%;
  margin-right: 14%;
  margin-bottom: 3%;
  right: 0; }

/*# sourceMappingURL=items.css.map */
