body {
	margin: 0;
	padding: 0;
}
#container{
	height: 1400px;
	width: 100%;
}
.title{
	width: 999px;
	margin: 0 auto;
}
.title h1{
	font: 20px "Carrois Gothic";
	margin: 0;
}
.title h1 span{
	color: #E4CF67;
	font: 48px "Carrois Gothic";
}
.links{
	width: 999px;
	height: 85px;
	margin: 0 auto;
	text-align: right;
}
.topcontent{
	height: 145px;
	width: 999px;
	margin: 0 auto;
}
.topcontent img{
	width: 25px;
	margin-top: 15px;
}
.header{
	width: 100%;
	height: 400px;
	background-color: #E3E5E5;
}
.content{
	width: 999px;
	height: 100%;
	margin: 0 auto;
	background: url("darkblur.jpg")no-repeat center;
}
.logo {
	background: url("bordercircle.svg"), url("clearcircle1.svg"), url("extendedcircle.svg");
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 20px;
	height: 400px;
	width: 906px;
}
.greeting{
	display: none;
	height: 40px;
	width: 330px;
	float: left;
	padding: 0px 0px 0px 18px;
	margin-top: 146px;
	text-align: right;
	font: 14px "Carrois Gothic";
}
.navbar {
	font: 16px "Arial Narrow";
	position: absolute;
}
.menu{
	padding: 0;
	margin: 0 auto;
	width: 999px;
	text-align: center;
}
.menu li:first-child{
	opacity: 1;
}
.menu li{
	background-color: black;
	display: inline-block;
	opacity: 0.7;
	text-align: center;
	width: 246px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}
.menu li:hover{
	background-color: black;
	display: inline-block;
	opacity: 1;
	text-align: center;
	width: 246px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}
.navbar ul li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	list-style: none;
	width: 100%;
	height: 100%;
	padding: 8px 0px 8px 0px;
}
.middle{
	width: 100%;
	font: 8px "Oxygen";
	background-color: #E3E5E5;
}
.middlecontent{
	width: 999px;
	margin: 0 auto;
	text-align: center;
	background-color: #AEDBE1;
}
.middlecontent div{
	width: 210px;
	display: inline-block;
	background-color: #c2e9ec;
	margin: 28px 12px 28px 12px;
	border-radius: 6px
}
.middlecontent img{
	width: 80px;
	padding-top: 15px;
}
.middlecontent h1{
	margin-top: 2px;
}
.middlecontent p{
	display: none;
	height: 200px;
	font: 11px "Carrois Gothic";
	text-align: justify;
	padding: 0px 18px 0px 18px;
	margin: 0;
}
.more{
	margin: 0 auto;
	width: 999px;
	height: 22px;
	text-align: center;
	opacity: 0.85;
}
.bottom{
	width: 100%;
	height: 396px;
	background-color:#E3E5E5;
}
.bottomcontent{
	width: 999px;
	height: 100%;
	margin: 0 auto;
	background: url("rock.jpg") no-repeat center;
}
.description{
	float: right;
}
.agenda{
	margin: 115px 0px 5px 194px;
}
.statement{
	width: 575px;
	height: 90px;
	background-color: #E4CF67;
	font: 12px "Carrois Gothic";
}
.statement p{
	width: 345px;
	text-align: justify;
	float: right;
	margin: 0;
	padding: 8px 18px 0px 8px;
	font-size: 100%
}
.rights{
	margin: 0 auto;
	width: 999px;
	text-align: center;
	font: 12px "Arial Narrow";
}