html {
	background: url(https://lh4.googleusercontent.com/-WVPskmwQ1Ac/UePKJxc9Z1I/AAAAAAAABns/V3YIiuEcJAE/w689-h918-no/photo.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div {
	position: relative;
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: white;
	opacity: 0.5;
	text-align: center;
}