body {
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 100%;
}
.scrollup{
	display: none;
	position: fixed;
	margin: 20px;
	opacity: 0.8;
	right: 0;
	bottom: 0;
	z-index:1;
}
.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #E3E5E5;
}
.title{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	font: 18px "Carrois Gothic";
	background-color: white;
}
.title img{
	padding: 4px;
	width: 180px;
	margin: 0;
	vertical-align: middle;
}
.title p{
	margin-top: 30px;
}
.navbar{
	max-width: 1000px;
	height: 60px;
	margin: 0px auto;
}
.navbar ul{
	font: 13px "Carrois Gothic";
	padding: 0;
	margin: 0;
	float: right;
}
.menu li:first-child{
	opacity: 1;
	background-color: black;
	color: white;
	border-left: none;
}
.menu li{
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 60px;
	list-style: none;
	display: inline-block;
	color: black;
	border-left: 1px solid gray;
}
.menu li:hover{
	background-color: #508F7C;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 60px;
	list-style: none;
	display: inline-block;
	color: white;
	border-left: 1px solid gray;
}
.menu li a{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: inherit;
}
.header{
	width: 100%;
}
.content{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	background: url("header.jpg")no-repeat bottom;
	box-shadow: 0px 0px 10px #b8b8b8;
}
.logo {
	background: url("bordercircle.svg"), url("clearcircle1.svg");
	background-repeat: no-repeat;
	background-position: right;
	height: 406px;
	width: 910px;
}
.spin img{
	float: right;
	margin-right: 31px;
	width: 406px;
	-webkit-transition-duration: 30s;
	-moz-transition-duration: 30s;
	-o-transition-duration: 30s;
	transition-duration: 30s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.spin img:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
    cursor: pointer;
}
.greeting p{
	display: none;
	position: absolute;
	height: 40px;
	width: 535px;
	float: left;
	margin-top: 170px;
	text-align: center;
	font: 20px "Neucha";
	color: #508F7C;
}
.stepcontent{
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
	background-color: #AAD5C4;
	box-shadow: 0px 2px 10px #b8b8b8;
}
.stepcontent div{
	vertical-align: top;
	width: 24%;
	min-width: 150px;
	display: inline-block;
	padding: 2px 2px 12px 2px;
	background-color: #AAD5C4;
}
.click{
	width: 75px;
	padding-top: 10px;
}
.stepimg{
	width: 100%
}
.stepcontent h3{
	margin: 4px 0px 0px 0px;
	font: 18px "Cabin";
}
.stepcontent p{
	display: none;
	font: 12px "Carrois Gothic";
	text-align: justify;
	padding: 14px 12px 0px 12px;
	margin: 5px auto;
	width: 90%;
	height: 470px;
	background-color: rgba(255,255,255,0.3);
	color: #383838
}
.moreStep{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	cursor: pointer;
}
.moreStep:hover{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
}
.info{
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
	background-color: #CCDD59;
	box-shadow: 0px 2px 10px #b8b8b8;
}
.info div{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	min-width: 220px;
	text-align: center;
	padding: 10px 0px 14px 0px;
}
.info h1{
	margin: 0;
	padding: ;
	font: 18px "Cabin";
}
.info img{
	width: 140px;
	padding-top: 5px;
}
.info ul{
	display: none;
	list-style: none;
	font: 12px "Carrois Gothic";
	text-align: center;
	color: #383838;
	margin: 5px auto;
	padding: 10px;
	width: 90%;
	background-color: rgba(255,255,255,0.3);
}
.info ul span{
	font: 14px "Carrois Gothic";
	color: #508F7C;
}
.moreAbility{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	cursor: pointer;
}
.moreAbility:hover{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
}
.aboutme{
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
	background-color: #D1D1D1;
	box-shadow: 0px 2px 10px #b8b8b8;
}
.aboutme div{
	vertical-align: top;
	width: 23%;
	min-width: 150px;
	display: inline-block;
}
.background h1{
	padding: 4px 0px 14px 0px;
	margin: 0;
	font: 18px "Cabin";
}
.background p{
	display: none;
	font: 12px "Carrois Gothic";
	text-align: justify;
	text-indent: 30px;
	padding: 4px;
	margin: 0px auto;
	width: 50%;
	min-width: 400px;
	color: #383838;
}
.background p:nth-child(7){
	padding-bottom: 30px;
}
.moreBackground{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	cursor: pointer;
}
.moreBackground:hover{
	width: 100%;
	margin: 0 auto;
	height: 22px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
}
.bottom{
	height: 470px;
	margin: 0 auto;
	width: 1000px;
	background: url("rock.jpg")no-repeat bottom;
	box-shadow: 0px 2px 10px #b8b8b8;
}
.pathbackground{
	position: absolute;
	margin: 0 auto;
	opacity: 0;
}
.rights{
	text-align: center;
	padding: 20px;
	font: 12px "Carrois Gothic";
	clear: both;
	bottom: 0;
}