body{
	margin:0;
	padding:0;
	background: rgba(0,0,0,0.7);
}
#wrapper{
	height: 1200px;
	width: 100%;
}
.scrollup{
	display: none;
	position: fixed;
	margin: 20px;
	opacity: 0.8;
	right: 0;
	bottom: 0;
}
.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #E3E5E5;
}
.header{
	margin-top: 30px;
}
.title{
	margin: 0 auto;
	max-width: 1000px;
	min-width: 600px;
	font: 18px "Carrois Gothic";
	text-align: top;
}
.logo img{
	padding: 8px;
	width: 100px;
	margin: 0;
	vertical-align: top;
	background-color: white;
	position: absolute;
}
.navbar{
	max-width: 1000px;
	height: 60px;
	margin: 0px auto;
}
.navbar ul{
	font: 13px "Carrois Gothic";
	padding: 0;
	margin: 0;
	float: right;
}
.menu li:nth-child(3){
	opacity: 1;
	background-color: black;
	color: white;
}
.menu li:first-child{
	border-left: none;
}
.menu li{
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 60px;
	list-style: none;
	display: inline-block;
	color: black;
	border-left: 1px solid gray;
}
.menu li:hover{
	background-color: #508F7C;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 60px;
	list-style: none;
	display: inline-block;
	color: white;
	border-left: 1px solid gray;
}
.menu li a{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: inherit;
}
.resume{
	text-align: center;
	margin: 0px 125px 0px 125px;
}
.resume img{
	background-color: white;
	width: 100%;
	min-width: 400px;
}
.download{
	position: absolute;
	width: 116px;
	text-align: center;
	padding: 8px 0px 8px 0px;
	font: 13px "Oxygen";
	margin: 124px 0px 0px 0px;
	color: black;
	background-color: #CCDD59;
	text-decoration: none;
}
.rights{
	text-align: center;
	padding: 10px;
	font: 12px "Carrois Gothic";
	clear: both;
	bottom: 0;
}