@import "import_all";

body {
  top: 0;
  left: 0;
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

section {
	padding: 100px 0;
}

// Welcome

.header {
	padding-top: 25%;
	.header-text {
		color: #2D291D;
		text-align: center;
		p {
			color: #72a040;
			font-size: 18px;
			line-height: 10px;
		}		
	}
	.header-content {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		.succulent {
			max-width: 400px;
		}	
	}
}

// Toolbox

.feature-skill {
	padding: 0 10px; 
	text-align: center;
	.shovel, .watercan, .glove {
		max-width: 200px;
	}
}

// Say Hello

.contact {
	border: none;
	color: #72a040;
	display: block;
	margin-top: 20px;
	letter-spacing: 0.2em;
	&:hover {
		color: #668c34;
		cursor: pointer;
		text-decoration: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 480px) {

	.header {	
		padding-top: 20%;
		padding-bottom: 10%;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.header {
		padding-top: 10%;
		padding-bottom: 0;
		.wrapper-text {
			margin-top: 12%;
		}
		.header-text {
			@include slide-detail(3.5em, 0.3s);
			margin-left: 10%;
			text-align: left;
			p {
				font-size: 20px;
				padding: 0 0.2em;
			}
		}		
	}

	.feature-skill {
		padding: 0 20px;
	}	

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.header {
		padding-top: 100px;
		padding-bottom: 60px;
		.wrapper-text {
			margin-top: 11%;	
		}
		.header-text {
			@include slide-detail(4.5em, 0.3s);
		}			
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}