@import 'modules/mixins.scss';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic);

.sidebar {
	@include border(2px solid $border-color);
	width: $sidebarWidth;
	min-width: 360px;
	max-width: 500px;
	background: $background-color;
	margin: 2em auto;
	.container {
		margin: 50px;
		h1 {
			margin: 0;
			font-size: 4em;
			font-weight: 100;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		a {
			margin-bottom: 60px;
			color: $link-color;
			text-decoration: none;
		}
		img {
			width: 90px;
			height: 90px;
			@include transition(all .2s ease-in-out);
		}
	}
	&:hover {
		.plane img {
 			@include transform(translateY(0%) scaleY(0.5));
		}
		.suitecase img {
			@include transform(translateY(-15px));
		}
		.heart img {
			@include duration(0.6s);
			@include iteration-count(infinite);
			@include timing-function(linear);
			@include animation(pulse);
		}
		@-webkit-keyframes pulse {
			25% {
				@include scale(1);
			}
			75% {
				@include scale(0.9);
			}
		}
		@keyframes pulse {
			25% {
				@include scale(1);
			}
			75% {
				@include scale(0.9);
			}
		}
		.heartheal img {
			@include duration(1s);
			@include iteration-count(infinite);
			@include timing-function(linear);
			@include animation(pulse);
		}
		@-webkit-keyframes pulse {
			25% {
				@include scale(1);
			}
			75% {
				@include scale(1.1);
			}
		}
		@keyframes pulse {
			25% {
				@include scale(1);
			}
			75% {
				@include scale(1.1);
			}
		}
	}
}
