@import "import_all";

body {
  top: 0;
  left: 0;
  font-family: arial;
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
	margin-top: 10%;
}

.header-wrapper {
	margin-top: 0;
}

.header-text {
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.header-wrapper {
		margin-top: 10%;
	}

	.header-text {
		@include slide-detail(4.2em, 0.3s);
		text-align: left;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}