@import '../../stylesheets/variables.scss';

// Slide Style

.slide {
  height: 100%;
}

.slide-intro {
  padding: 4em 5em;

  @media (min-width: 768px) {
    padding: 5em 6em;
  }

  @media (min-width: 992px) {
    padding: 6em 7em;
  }

}

.slide-block {
  padding-top: 30px;
  max-width: 500px;
}

.slide-image {

}
