@import '../../stylesheets/variables.scss';

// Panel Style

.panel-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.panel {
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

}

.panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.panel-name {
  background-color: $secondary-default;
  color: $white;
  font-weight: 800;
}

.panel-item {
  background-color: $light-default;
  color: $font-color;
}
