@import '../../stylesheets/variables.scss';

// Section Style

.section {
  display: flex;
  justify-content: center;
  position: relative;
}

.section-content {
  padding: 2em;
  width: 100%;

  @media (min-width: 992px) {
    padding: 4em;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

}

.section-number {
  position: absolute;
  color: $light-default;
  font-size: 15em;
  z-index: -1;
}
