@import '../../stylesheets/variables.scss';

// Carousel Style

.carousel {
  position: relative;
  overflow-x: hidden;
  background-color: $white;
  min-height: 100%;

  @media (min-width: 576px) {
    max-width: 900px;
  }

  // Carousel Slides
  .carousel-slides {
    transition: margin-left 300ms linear;

    .carousel-slide {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

  }

  // Carousel Navigation
  .carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .carousel-nav-icon {
      display: block;
      padding: 1em;
      cursor: pointer;
    }
  }

  // Carousel Pagination
  .carousel-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;

    .carousel-page {
      background-color: lighten($dark-default, 70%);
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      transition: background-color 200ms linear;
      vertical-align: middle;
      width: 10px;
    }

    .carousel-page-active {
      background-color: $dark-default;
    }
  }

}
