@import '../../stylesheets/variables.scss';

// Container Style

.container {
  height: 100vh;
  min-height: 500px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  @media (min-width: 768px) {
    min-height: 700px;
    justify-content: flex-end;
    padding: 25px;
  }

  @media (min-width: 992px) {
    padding: 30px;
  }

}
