@import '../../stylesheets/variables.scss';

// Intro Style

.section-intro {

}

.intro-content-subtitle {
  color: $secondary-default;
}

.intro-nav-numbers {

}

.intro-nav-link {
  color: $secondary-default;
  display: block;
  text-decoration: none;
}
