// Animation Helpers

.cloud {

  @media (min-width: 768px) {

    &.cloud-1 {
      bottom: 350px;
      right: 250px;
      width: 3vw;
    }

    &.cloud-2 {
      bottom: 400px;
      right: 150px;
      width: 4vw;
    }

  }

}

.plane {

  @media (min-width: 768px) {
    animation: fly-right 40s infinite;
    animation-delay: 2s;
    opacity: 0;
    width: 6vw;
  }

  @media (min-width: 992px) {
    width: 4vw;
  }

}

.bus {

  @media (min-width: 768px) {
    bottom: 60px;
    width: 4vw;

    &.bus-1 {
      animation: drive-left 14s 1;
      transform: scaleX(-1);
      right: 300px;
    }

    &.bus-2 {
      left: 200px;
    }

    &.bus-3 {
      animation: drive-right 14s 1;
      left: 500px;
    }

  }

  @media (min-width: 1200px) {
    bottom: 100px;
  }

}

.bird-path-1 {
  animation: fly-clockwise 10s infinite;
  height: 40px;
  width: 40px;
  top: 300px;
  right: 320px;

  .bird {
    @media (min-width: 768px) {
      width: 1vw;
    }
    @media (min-width: 1200px) {
      width: 0.5vw;
    }
  }

}

.bird-path-2 {
  animation: fly-counterclockwise 70s infinite;
  height: 240px;
  width: 240px;
  top: 100px;
  right: 100px;

  .bird {
    @media (min-width: 768px) {
      transform: rotate(180deg);
      width: 2vw;
    }
    @media (min-width: 1200px) {
      width: 1vw;
    }
  }

}
