// Animation Helpers

.circle {
  position: absolute;

  &.clockwise {
    animation: fly-clockwise 45s linear infinite;
  }

  &.counterclockwise {
    animation: fly-counterclockwise 14s linear infinite;
  }

  &.small {
    height: 40px;
    width: 40px;
  }

  &.medium {
    height: 100px;
    width: 100px;
  }

  &.large {
    height: 240px;
    width: 240px;
  }

}
