// Animation Mixins

@keyframes fly-clockwise {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fly-counterclockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fly-right {
  0% {
    opacity: 0;
    top: 150px;
    left: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: 120px;
    left: 90vw;
  }
}

@keyframes drive-left {
  0% {
    opacity: 0;
    right: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    right: 300px;
  }
}
