@import '../../stylesheets/variables.scss';

// Header Style

.header {
  display: block;
  @media (min-width: 768px) {
    max-width: 500px;
  }
}

.header-title {
  color: $primary-default;
}

.header-description {
  height: 180px;
}
