@import '../../stylesheets/variables.scss';

// Header Style

.header {
  display: block;

  @media (min-width: 992px) {
    max-width: 500px;
  }

  @media (min-width: 1200px) {
    max-width: 550px;
  }

}

.header-title {
  color: $primary-default;
}

.header-description {
  margin-bottom: 50px;
}
