@import '../../stylesheets/variables.scss';

// Header Style

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
}

.header-title {
  color: $primary-default;
  margin-bottom: 15px;
}
