// Process Styles

.process {
  display: flex;
  justify-content: center;
}

.process-header {

  @media (min-width: 992px) {
    margin-top: 120px;
    text-align: center;
    max-width: 900px;
  }

  @media (min-width: 1200px) {
    margin-top: 100px;
  }

}

.process-background {

  @media (min-width: 576px) {
    height: 340px;
  }

  @media (min-width: 992px) {
    height: 240px;
  }

  @media (min-width: 1200px) {
    height: 200px;
  }

}

// Background

.fortmason {

  @media (min-width: 768px) {
    bottom: 340px;
  }

  @media (min-width: 992px) {
    bottom: 240px;
  }

  @media (min-width: 1200px) {
    bottom: 200px;
  }

}

// Birds

@keyframes fly-clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fly-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bird-1 {

  @media (min-width: 768px) {
    width: 1.6vw;
  }

  @media (min-width: 1200px) {
    width: 1.2vw;
  }

}

.bird-2 {

  @media (min-width: 768px) {
    width: 1.2vw;
  }

  @media (min-width: 1200px) {
    width: 0.8vw;
  }

}

.circle {
  position: absolute;

  &.clockwise {
    animation: fly-clockwise 45s linear infinite;
  }

  &.counterclockwise {
    animation: fly-counterclockwise 14s linear infinite;
  }

  &.small,
  &.medium,
  &.large {
    top: 200px;
    right: 200px;
  }

  &.small {
    height: 40px;
    width: 40px;
  }

  &.medium {
    height: 100px;
    width: 100px;
  }

  &.large {
    height: 240px;
    width: 240px;
  }

}
