// Process Style

.fortmason {

  @media (min-width: 768px) {
    right: 20px;
    width: 50vw;
    bottom: 50px;
  }

  @media (min-width: 1200px) {
    right: 50px;
    width: 40vw;
    bottom: 100px;
  }

}

.circle {

  &.small,
  &.medium,
  &.large {
    top: 200px;
    right: 200px;
  }

}
