@import '../../stylesheets/variables.scss';

// Content Block Style

.content-card-group {

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

}

.content-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: 576px) {
    margin-bottom: 0;
  }

}

.content-card-tag {
  padding: 10px;
}

.content-card-img {
  display: none;

  @media (min-width: 576px) {
    display: block;
  }
  
}

.content-card-title {
  color: $primary-dark;
}

.content-card-description {
  margin: 0;
}
