// Project Style

.project {
  display: flex;
}

// Background

.sf-moma {

  @media (min-width: 768px) {
    width: 38vw;
  }

  @media (min-width: 1200px) {
    width: 28vw;
  }

}

// Vehicles

$time: 20s;
$delay: 5;

@keyframes vehicles-traffic {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(40vw);
  }
}

.truck,
.van,
.bus,
.car-1,
.car-2 {
  animation: vehicles-traffic $time linear infinite;
  left: 20vw;
  width: 2vw;
  opacity: 0;
}

.van {
  animation-delay: $time/$delay * 1;
}

.bus {
  animation-delay: $time/$delay * 2;
}

.car-1 {
  animation-delay: $time/$delay * 3;
  transform: scale(0.8);
}

.car-2 {
  animation-delay: $time/$delay * 4;
  transform: scale(0.8);
}
