@import '../../stylesheets/mixins.scss';

// Project Style

.sf-moma {

  @media (min-width: 768px) {
    width: 38vw;
    right: 100px;
    bottom: 60px;
  }

  @media (min-width: 1200px) {
    right: 140px;
    bottom: 100px;
  }

}
