h1, h2, h3, h4, h5 {
	font-family: 'Arbutus Slab', serif;
}

h1 {
	font-size: 3em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		font-size: 5em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}