body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arbutus Slab', serif;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 14px;
	font-weight: 300;
}

a {
	color: #72a040; 
	font-weight: 100;
	font-size: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	h1 {
		font-size: 4em;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	h1 {
		font-size: 5em;
	}
	p {
		font-size: 16px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}