@import '../../stylesheets/variables.scss';

// Panel Style

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background;
  background-image: url('../../assets/illustrations/illo-background.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: relative;

  @media (min-width: 768px) {
    justify-content: center;
    padding: 50px;
  }

  @media (min-width: 992px) {
    padding: 100px 50px;
  }

  @media (min-width: 1200px) {
    padding: 100px;
  }

}
