@import '../../stylesheets/variables.scss';

// Panel Style

.panel-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 10px;
  }

}

.panel {
  position: relative;
  display: flex;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.panel-name {
    background-color: $secondary-default;
    color: $white;
    font-weight: 800;
  }

  &.panel-item {
    background-color: $light-default;
  }

}

.panel-content-name,
.panel-content-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel-content-item {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}
