@import '../../stylesheets/variables.scss';

// Panel Style

.panel {
  display: flex;
  flex-direction: column;
  background-color: $background;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: relative;

  @media (min-width: 768px) {
    padding: 50px;
  }

  @media (min-width: 992px) {
    justify-content: center;
    padding: 100px 50px;
  }

  @media (min-width: 1200px) {
    justify-content: flex-end;
    padding: 160px 50px;
  }

}
