@import '../../stylesheets/variables.scss';

// Content Block Style

.content-block {
  text-align: left;
}

.content-block-title {
  margin-bottom: 5px;
}


.content-block-subtitle {
  color: $secondary-default;
}

.content-block-description {

}
