@import '../../stylesheets/variables.scss';

// Content Block Style

.content-block {
  text-align: left;
}

.content-block-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.content-block-description {
  font-weight: 300;
}
