body{
	top: 0;
	margin: 0;
	padding: 0;
}
.login{
	position: fixed;
	width: 100%;
	height: 30px;
	text-align: right;
	color: white;
	background: url("darkSkin.png");
	font: 18px "Yanone Kaffeesatz";
	font-weight: 200;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.login p{
	margin: 0;
	padding: 4px 20px 0px 0px;
}
.login span{
	color: #BADA55;
}
.name{
	float: left;
	padding: 4px 0px 0px 20px;
	vertical-align: top;
}
.section1{
	padding-top: 80px;
	height: 100%;
	margin: 0 auto;
}
.navbar{
	min-width: 370px;
	max-width: 800px;
	height: 20px;
	margin: 0 auto;
	font: 18px "Yanone Kaffeesatz";
	font-weight: 300;
}
.navbar ul{
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
}
.navbar li{
	display: inline-block;
	padding: 0px 5px 0px 5px;
}
.navbar li:nth-child(5) a{
	color: white;
	padding: 8px;
	background-color: #162633;
}
.navbar a{
	text-decoration: none;
	color: #3A3A3A;
	padding: 30px 30px 30px 30px;
}
.navbar a:active{
	text-decoration: none;
	color: #BADA55;
	padding: 30px 30px 30px 30px;
	background: url("NodePrimeCircle.jpg")no-repeat center center;
}
.navbar li:nth-child(5) a:active{
	color: white;
	background-color: #162633;
	background-image: none;
}
.header{
	height: 462px;
	background: url("NodePrime2.jpg") no-repeat bottom center;
}
.controls{
	padding-bottom: 50px;
	text-align: center;
	background-color: #282828;
}
.input-large.email{
	height: 30px;
	width: 220px;
	text-align: center;
}
.btn-inverse{
	width: 90px;
	height: 36px;
	background-color: #162633;
	border: none;
	color: white;
	cursor: pointer;
}
.section2{
	width: 100%;
	height: 110px;
	text-align: center;
	color: #3A3A3A;
	font-weight: 300;
	padding-top: 25px;
	margin: 0;
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #BADA55 0%, #AAC74E 100%);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.section2 span{
	font: 25px "Yanone Kaffeesatz";
	font-weight: 200;
	color: white;
}
.section2 p{
	font: 14px "Yanone Kaffeesatz";
	font-weight: 300;
	width: 338px;
	text-align: justify;
	margin: 0 auto;
}
.section2 div{
	width: 600px;
	margin: 0 auto;
}
.left{
	float: left;
	padding-top: 21px;
}
.right{
	float: right;
	padding-top: 21px;
}
.section3{
	text-align: center;
	margin: 80px 0px 70px 0px;
}
.hand{
	position: absolute;
	width: 300px;
	opacity: 0.3;
	padding: 80px 0px 0px 430px;
}
.keyWords{
	min-width: 681px;
	max-width: 760px;
	height: 180px;
	background: url("NodePrimeFeatures.jpg")no-repeat top center;
	text-align: center;
	margin: 0 auto;
}
.keyWords div{
	width: 120px;
	color: #162633;
	display: inline-block;
	vertical-align: top;
	font: 22px "Yanone Kaffeesatz";
	padding: 40px 50px 0px 50px;
}
.keyWords div:hover{
	width: 120px;
	color: #162633;
	display: inline-block;
	vertical-align: top;
	font: 30px "Yanone Kaffeesatz";
	padding: 32px 50px 0px 50px;
	cursor: pointer;
}
.section4{
	width: 100%;
	text-align: center;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.features{
	width: 100%;
	margin: 0 auto;
	background: url("darkSkin.png");
}
.features h1{
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
	padding: 60px 0px 0px 0px;
	font: 30px "Yanone Kaffeesatz";
	font-weight: 200;
	color: #BADA55;
	text-align: left;
}
.features ul{
	max-width: 1200px;
	list-style: none;
	margin: 0 auto;
	padding: 0px 0px 80px 0px;
}
.features li{
	display: inline-block;
	width: 280px;
	text-align: justify;
	font: 14px "Dosis";
	font-weight: 200;
	margin: 20px 15px 0px 15px;
	color: white;
}
.features h3{
	margin-bottom: 5px;
	font: 20px "Yanone Kaffeesatz";
	font-weight: 200;
	color: #BADA55;
}
.section5{
	width: 100%;
	margin: 100px 0px 100px 0px;
	text-align: center;
}
.pricing h1{
	width: 80%;
	height: 70px;
	font: 30px "Yanone Kaffeesatz";
	font-weight: 200;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	color: white;
	background: url("tag.svg") no-repeat bottom center;
}
.priceName{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 15px;
	background-color: #eeeeee;
	font: 30px "Yanone Kaffeesatz";
	color: #3A3A3A;
	padding-top: 60px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}
.priceTag{
	color: #BADA55;
}
.priceDesc{
	width: 120px;
	margin: 0 auto;
	font: 13px "Yanone Kaffeesatz";
}
.section6{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 70px;
	text-align: center;
}
.section6 h1{
	color: #BADA55;
	font: 30px "Yanone Kaffeesatz";
}
.section6 h2 a{
	height: 18px;
	font: 18px "Yanone Kaffeesatz";
	text-decoration: none;
	color: #162633;
}
.press img{
	padding: 0px 30px 30px 30px;
}
.testimonials{
	height: 220px;
	min-width: 652px;
}
.customerQuote{
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0px 5% 0px 5%;
	color: gray;
	background-color: #162633;
	font: 13px "Dosis";
	vertical-align: top;
}
.section7{
	width: 100%;
	background-color: #BADA55;
	text-align: center;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
	padding-bottom: 40px;
}
.team{
	max-width: 1200px;
	margin: 0 auto;
}
.team h1{
	padding-top: 50px;
	text-align: center;
	margin: 0;
	font: 30px "Yanone Kaffeesatz";
	font-weight: 300;
}
.team div:nth-child(10){
	background-color: #3A3A3A;
	color: #BADA55;
	text-align: left;
	padding-top: 150px;
	height: 230px;
	font: 35px "Yanone Kaffeesatz";
	font-weight: 200;
}
.team div:nth-child(11){
	background-color: #3A3A3A;
	color: #BADA55;
	text-align: left;
	padding-top: 150px;
	height: 230px;
	font: 35px "Yanone Kaffeesatz";
	font-weight: 200;
}
.profile{
	display: inline-block;
	width: 28%;
	min-width: 270px;
	height: 360px;
	vertical-align: top;
	text-align: justify;
	margin: 5px;
	padding: 20px;
	font: 13px "Dosis";
	background-color: rgba(255,255,255,0.2);
}
.row-fluid h4{
	font: 16px "Dosis";
	margin: 0;
	text-align: center;
}
.span2 p{
	text-align: center;
}
.section8{
	width: 100%;
	height: 350px;
	background: url("darkSkin.png");
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.contact{
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	padding-top: 60px;
	text-align: right;
}
.info{
	margin-top: 20px;
}
.address{
	float: left;
	width: 30%;
	font: 14px "Dosis";
	font-weight: 200;
	color: white;
}
.contact span{
	font: 30px "Yanone Kaffeesatz";
	font-weight: 200;
	color: #BADA55;
}
.address img{
	width: 30px;
	margin: 20px 0px 0px 20px;
}