@import '../../stylesheets/variables.scss';

// Content Block Style

.content-block-group {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
  }

}

.content-block {
  text-align: left;
}

.content-block-2 {

  @media (min-width: 992px) {
    width: 48%;
  }

}

.content-block-3 {

  @media (min-width: 992px) {
    margin-top: 25px;
    width: 30%;
  }

}

.content-block-title {
  color: $primary-dark;
  margin-bottom: 10px;
}

.content-block-description {

}
