// Home Style

.illo-group {

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

.illo-ferry {

  @media (min-width: 768px) {
    position: absolute;
    right: 50px;
    width: 60vw;
    bottom: 60px;
  }

  @media (min-width: 1200px) {
    right: 100px;
    bottom: 100px;
  }

}

.illo-cloud {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;

    &.cloud-1 {
      bottom: 350px;
      right: 250px;
      width: 3vw;
    }

    &.cloud-2 {
      bottom: 400px;
      right: 150px;
      width: 4vw;
    }

  }

}

.illo-plane {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 120px;
    left: 50px;
    width: 6vw;
  }

  @media (min-width: 992px) {
    width: 4vw;
  }

}

.illo-bird {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;

    &.bird-1 {
      top: 160px;
      right: 100px;
      width: 1vw;
    }

    &.bird-2 {
      top: 130px;
      right: 120px;
      width: 2vw;
    }

  }

}
