// Home Style

.ferry {

  @media (min-width: 768px) {
    right: 30px;
    width: 55vw;
    bottom: 50px;
  }

  @media (min-width: 1200px) {
    right: 100px;
    bottom: 100px;
  }

}

.bus-1 {
  animation: drive 14s 1 linear forwards;
  transform: scaleX(-1);
  right: 0;
}

.bus-2 {
  left: 200px;
}

.plane {

  @media (min-width: 768px) {
    animation: fly 30s infinite ease-in-out;
    animation-delay: 2s;
  }

}

.cloud-1 {
  bottom: 350px;
  right: 250px;
}

.cloud-2 {
  bottom: 400px;
  right: 150px;
}
