
// Illo Style

.illo-group {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

.illo-item {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
  }

}

// Vehicle

.vehicle {
  z-index: 1;

  @media (min-width: 768px) {
    bottom: 50px;
    width: 3vw;
  }

  @media (min-width: 992px) {
    width: 3.5vw;
  }

  @media (min-width: 1200px) {
    bottom: 100px;
    width: 4vw;
  }

}

// Cloud

.cloud {

  @media (min-width: 768px) {
    width: 3vw;
  }

}

// Plane

.plane {

  @media (min-width: 768px) {
    opacity: 0;
    width: 6vw;
  }

  @media (min-width: 992px) {
    width: 4vw;
  }

}

// Bird

.bird-1 {

  @media (min-width: 768px) {
    transform: rotate(180deg);
    width: 1.6vw;
  }

  @media (min-width: 1200px) {
    width: 1.2vw;
  }

}

.bird-2 {

  @media (min-width: 768px) {
    width: 1.2vw;
  }

  @media (min-width: 1200px) {
    width: 0.8vw;
  }

}
