@import '../../stylesheets/variables.scss';

// Skills Style

.section-content-skills {

}


.skills-number {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: -1;
}


.skills-area {
  display: flex;
  flex-direction: column;
  padding-top: 8em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

.skill {
  flex-grow: 1;
  flex-basis: 0;

  @media (min-width: 768px) {
    margin: 15px;
  }

}

.skill-block {
  padding: 30px;
}
