@import '../../stylesheets/variables.scss';

// Skills Style

.section-content-skills {
  display: flex;
}

.skills-card {
  flex-grow: 1;
  flex-basis: 0;
  margin: 15px;
}

.skills-card-area {
  padding: 30px;
}
